body {
  background: #ffffff;
  font-family: "PT Sans";
  max-width: 100%;
}
.hero {
  min-height: calc(100vh - 70px);
  padding: 30px;
  margin-top: 56px;
}

.hero p {
  margin: 20px 30px;
}
footer {
  height: 200px;
  /* margin-top: -50px; */
  background-color: black;
  padding: 15px 0;
}
footer .social-links {
  text-align: center;
  margin-top: 30px;
}
footer .social-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 20px;
  padding: 8px 14px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  opacity: 0.6;
  transition: all 100ms ease-in-out;
}

h1 {
  color: black;
  font-size: 56px;
  line-height: 40px;
  font-weight: 600;
}
h2 {
  color: black;
  font-size: 36px;
  font-weight: 500;
}
h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
}
h4 {
  font-size: 28px;
  margin: 0;
  color: black;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.container-main {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.about-section {
  text-align: center;
}

.media-box {
  display: flex;
  justify-content: space-evenly;
}
.media-box p {
  max-width: 400px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navigation-links a {
  margin: 0 20px;
}
.primary-link {
  color: var(--third-color);
  padding: 15px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.primary-link:hover {
  opacity: 0.7;
}
.secondary-link {
  background: black;
  text-transform: capitalize;
  color: white;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--third-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.secondary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-link {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.email-link:hover {
  text-decoration: underline;
}
.git {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.git:hover {
  text-decoration: underline;
}
nav {
  padding: 10px 30px;
  background-color: black;
}
nav ul {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
nav li {
  display: inline;
  list-style-type: none;
  line-height: 30px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover,
nav li.active a {
  color: white;
  opacity: 0.8;
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}
.gallery {
  display: flex;
  width: 100%;
}

.gallery img {
  width: 33.33%; /* Кожне зображення займатиме третину ширини контейнера */
  height: auto; /* Зберігає пропорції зображень */
  margin: 0; /* Забирає відступи */
  padding: 0;
  border: none; /* Прибирає можливі межі */
}
@media (max-width: 420px) {
  h3 {
    margin: 0 20px 0 20px;
  }
  .media-box {
    display: block;
  }
  nav {
    font-size: 16px;
  }
  .logo {
    max-width: 50px;
  }
  .container-main img {
    display: flex;
    margin: 0 auto;
  }
  .outside-bg {
    width: 100%;
    vertical-align: middle;
  }
  .outside-bg-top {
    width: 50%;
    vertical-align: middle;
  }
}
