body {
  background: #ffffff;
  font-family: "PT Sans";
  max-width: 100%;
}
.hero {
  min-height: calc(100vh - 70px);
  padding: 30px;
  margin-top: 52px;
}

.hero p {
  margin: 20px 30px;
}
footer {
  height: 200px;
  /* margin-top: -50px; */
  background-color: black;
  padding: 15px 0;
}
footer .social-links {
  text-align: center;
  margin-top: 30px;
}
footer .social-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 20px;
  padding: 8px 14px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  opacity: 0.6;
  transition: all 100ms ease-in-out;
}

h1 {
  color: black;
  font-size: 56px;
  line-height: 40px;
  font-weight: 600;
}
h2 {
  color: black;
  font-size: 36px;
  font-weight: 500;
}
h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
}
h4 {
  font-size: 28px;
  margin: 0;
  color: black;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.number {
  list-style-type: none;
}
.symbol {
  margin-top: 20px;
  padding: 0;
}
.shri {
  margin: 30px auto;
  padding: 0;
  opacity: 0.2;
  width: 26%;
}
.container-main {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.about-section {
  text-align: center;
}

.media-box {
  display: flex;
  justify-content: space-evenly;
}
.media-box p {
  max-width: 400px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navigation-links a {
  margin: 0 20px;
}
.primary-link {
  color: var(--third-color);
  padding: 15px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.primary-link:hover {
  opacity: 0.7;
}
.secondary-link {
  background: black;
  text-transform: capitalize;
  color: white;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--third-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.secondary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-link {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.email-link:hover {
  text-decoration: underline;
}
.git {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.git:hover {
  text-decoration: underline;
}
.navbar {
  background-color: black;
}
nav {
  padding: 0;
}
.navbar-toggler {
  color: white !important;
}
.navbar-toggler-icon {
  color: white !important;
}
.dropdown-menu {
  background-color: black;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.dropdown-menu li {
  padding: 0;
  margin: 0;
}
.dropdown-item {
  padding: 0 10px !important;
  margin: 0 !important;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style-type: none;
  line-height: 40px;
  margin-left: 10px;
  font-size: 18px;
}
nav a {
  color: white !important;
}
nav a:hover,
nav li.active a {
  color: white !important;
  background-color: black !important;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

.logo {
  max-height: 40px;
}
.gallery {
  display: flex;
  width: 100%;
}

.gallery img {
  width: 33.33%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
@media (max-width: 420px) {
  h3 {
    margin: 0 20px 0 20px;
  }
  .media-box {
    display: block;
  }

  nav li {
    margin-left: 6px;
    font-size: 14px;
  }
  .logo {
    max-width: 50px;
  }
  .container-main img {
    display: flex;
    margin: 0 auto;
  }
  .outside-bg {
    width: 100%;
    vertical-align: middle;
  }
  .outside-bg-top {
    width: 50%;
    vertical-align: middle;
  }
  .shri {
    width: 50%;
  }
}
